/* CURSOR */
.cursor {
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--color-hero-secondary);
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  transition-property: background, transform;
  transform-origin: 100% 90%;
  z-index: 3;

  &.active {
    background: var(--color-hero-secondary);
    transform: scale(2);
  }

  &-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.5rem;
    color: var(--color-hero-primary);
  }
}
