/* HEADER */
.header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &-container {
    width: 95%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 2;

    .logo {
      font-size: 1.5rem;
      font-weight: 400;
      text-transform: uppercase;
    }

    ul {
      list-style-type: none;

      li {
        display: inline-block;
        font-size: 1.5rem;
        font-weight: 400;
        text-transform: uppercase;

        &:not(:last-child) {
          margin-right: 10rem;
        }
      }
    }
  }
}

/* HERO */
.hero {
  height: 90vh;

  .container {
    display: flex;
    align-items: center;

    .hero-content {
      width: 100%;
      margin-top: -10vh;

      h1 {
        font-size: 12rem;
        font-weight: 400;
        line-height: 0.8;
        text-transform: uppercase;
        font-style: italic;
        line-height: 0.9;
        text-align: center;

        span {
          display: block;
        }
      }
    }
  }
}

/* ABOUT */
.about {
  padding-top: 8rem;

  &-title {
    margin-bottom: 4rem;
  }

  &-description {
    padding-right: 40rem;
  }
}

/* SERVICES */
.services {
  padding-top: 8rem;

  &-content {
    text-align: right;

    .services-title {
      margin-bottom: 4rem;
    }

    .services-description {
      padding-left: 40rem;
    }
  }
}
