/* FONTS */

/* SCSS FILES */
@import './components.scss';
@import './layout.scss';
@import './base.scss';

/* VARIABLES */
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-purple: #d7acff;
  --color-red: #c70039;
  --color-orange: #f37121;
  --color-green: #c0e218;
}
